<%- include("header") -%>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="style/myaccount.css" rel="stylesheet"> 

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<body class="bg-gray-100 margTP">
    <section class="products box-container" id="products"> 
    <main class="container mx-auto py-8">
        <div class="max-w-l mx-auto bg-white shadow-lg rounded-lg p-8 widthINC">
            <h1 class="text-3xl text-center text-gray-800 font-semibold mb-6">My Address</h1>
           
            <div class="mb-4">
                <h2 class="text-lg text-gray-700 font-semibold mb-2">Shipping Address</h2>
                <% shippingAddress.forEach((shippingAddress) => { %>
                <p class="text-gray-600">Name: <%= shippingAddress.name %></p>
                <p class="text-gray-600">Phone No: <%= shippingAddress.mobileNo %></p>
                <p class="text-gray-600">Address: <%= shippingAddress.address %></p>
                <p class="text-gray-600">state: <%= shippingAddress.state %></p>
                <p class="text-gray-600">city: <%= shippingAddress.city %>, Pin-code: <%= shippingAddress.pincode %></p>
                <p class="text-gray-600">Country: <%= shippingAddress.country%></p>
                <% }) %>
            </div>
            <div class="flex justify-between">
                <a href="/addNewaddress" class="text-purple-500 hover:text-purple-600">Edit/Add Address Details</a>
                <a href="/changepassword" class="text-purple-500 hover:text-purple-600">Change Password</a>
            </div>
        </div>
    </main>
    </section>
    <%- include("footer") -%>
</body>
</html>
